/* Desktop */
body {
  font-family: "Helvetica", Sans-serif;
  color: white;
  font-size: 1rem; }

.normal-weight {
  font-weight: normal; }

.bold-weight {
  font-weight: bold; }

.font-large {
  font-size: 2rem; }

.font-small {
  font-size: 0.77rem; }

.black-box {
  background-color: black;
  width: 35%; }

/*=============================================>>>>>
= Header =
===============================================>>>>>*/
.header-container {
  background-color: black;
  width: 100%; }
  .header-container .header-item {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .66rem 0; }
    .header-container .header-item img {
      height: 1.5rem;
      padding-left: .5rem;
      padding-right: 1rem; }

.max-width-container {
  max-width: 960px;
  margin: 0 auto; }

/*=============================================>>>>>
= Hero =
===============================================>>>>>*/
.hero-container {
  height: 25rem;
  width: 100%;
  background: url("../images/moto.jpeg") no-repeat;
  background-size: cover; }
  .hero-container .hero-item {
    padding-top: 9rem; }
    .hero-container .hero-item .hero-child-item {
      background-color: black;
      padding: 2rem 3rem;
      width: 20rem; }
    .hero-container .hero-item h3 {
      margin-bottom: .25rem; }

/*=============================================>>>>>
= Nav =
===============================================>>>>>*/
.nav-container {
  background-color: firebrick;
  width: 100%; }
  .nav-container ul.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .nav-container ul.desktop li {
      padding: .75rem 0; }
  .nav-container ul.mobile {
    display: none; }

/*=============================================>>>>>
= Section =
===============================================>>>>>*/
.section-container {
  width: 100%; }
  .section-container .gadgets-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 3rem 0; }
    .section-container .gadgets-container .gadget-item {
      border: 4px solid black;
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .section-container .gadgets-container span {
      background-color: black;
      width: 100%;
      padding: .5rem 0;
      text-align: center; }
    .section-container .gadgets-container .gadget-item img {
      height: 9rem; }
    .section-container .gadgets-container .gadget-img-container {
      height: 9rem;
      padding: 2rem 0; }
    .section-container .gadgets-container .gadget-name-container {
      width: 100%;
      background-color: black;
      padding: .5rem 0; }
  .section-container .info-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

/*=============================================>>>>>
= Footer =
===============================================>>>>>*/
/*=============================================>>>>>
= Header =
===============================================>>>>>*/
/*=============================================>>>>>
= Hero =
===============================================>>>>>*/
/*=============================================>>>>>
= Nav =
===============================================>>>>>*/
/*=============================================>>>>>
= Section =
===============================================>>>>>*/
/*=============================================>>>>>
= Footer =
===============================================>>>>>*/
/*=============================================>>>>>
= Header =
===============================================>>>>>*/
/*=============================================>>>>>
= Hero =
===============================================>>>>>*/
/*=============================================>>>>>
= Nav =
===============================================>>>>>*/
/*=============================================>>>>>
= Section =
===============================================>>>>>*/
/*=============================================>>>>>
= Footer =
===============================================>>>>>*/
