// Colors
$color-primary: white;
$color-secondary: black;
$color-footer: dimgrey;

// Font Families
$font-primary: 'Helvetica', Sans-serif;

// Font Size
$font-size-x-sm: 11px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 23px;
$font-size-x-lg: 32px;
$font-size-xx-lg: 70px;

// Font Weight
$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-bold: bold;
